*.pyc
*.log
lib/gravity/*.class
lib/gravity/common/*.class
lib/gravity/tae/*.class
lib/gravity/tae/pos/*.class
lib/gravity/tae/ner/*.class
lib/gravity/tae/ner/stanford/*.class
lib/gravity/tae/ner/stanford_old/*.class
lib/gravity/tae/ner/stanford/*.gz
lib/gravity/tae/ner/stanford_old/*.gz
lib/gravity/tae/ner/lbj/*.class
lib/gravity/tae/ner/lingpipe/*.class
lib/gravity/tae/internal/*.class
lib/gravity/tae/pos/stanford/*.class
lib/gravity/common/internal/*.class
test/gravity/common/*.class
*.so
*.egg-info
*.lm
*.hmm
lib/corpora
lib/pynlpl
lib/jython
lib/lxml
lib/lingpipe
lib/quartz
lib/snowball
lib/stanford
lib/stanford_old
lib/lbj
lib/junit/*.jar
.lithium/.logs
.primus/primus
