*.pyc
*.log
*.zip
lib/ilps/*.class
lib/ilps/common/*.class
lib/ilps/tae/*.class
lib/ilps/tae/pos/*.class
lib/ilps/tae/ner/*.class
lib/ilps/tae/ner/stanford/*.class
lib/ilps/tae/ner/stanford_old/*.class
lib/ilps/tae/ner/lbj/*.class
lib/ilps/tae/ner/lingpipe/*.class
lib/ilps/tae/internal/*.class
lib/ilps/tae/pos/stanford/*.class
lib/ilps/common/internal/*.class
test/ilps/common/*.class
lib/lxml*
*.so
*.gz
*.egg-info
*.lm
*.hmm
lib/corpora
lib/pynlpl
lib/jython
lib/lxml
lib/lingpipe
lib/quartz
lib/snowball
lib/stanford
lib/stanford_old
lib/lbj
lib/junit/*.jar
.lithium/.logs
.primus/primus
